*{
	margin:05px;
}
a{
	width: 250px;
	text-decoration: none;
	color: #848484;
}
div{
	width: 200px;
	height: 250px;
	background-color: #FAFAFA;
	float: left;
	text-align: center;
	padding-top: 30px;
	border-style: outset;
}
h5{
	font-family: 'Bad Script', cursive;
	padding-top: 20px;
}
i{
	font-size: 45px;
	background-color: #FAFAFA;
}
.icon-paperplane:before {
  content: "\e903";
}
.icon-diamond:before {
  content: "\e901";
}
.icon-heart:before {
  content: "\e900";
}
.icon-cup:before {
  content: "\e902";
}
div:hover{
	transition-property: height;
	transition-property: background-color;
	transition-duration: 4s;
	height: 280px;
	background-color: white;
}
div:hover .click{
	color: #CEE3F6;
}